<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @specialization.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @specialization.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @specialization.category.name %>
</p>

<p>
  <%= link_to 'Applications', applications_path %>
</p>

<p>
  <%= link_to 'Videos', specialization_videos_path(@specialization.id) %>
</p>

<%= link_to 'Back to Specializations', specializations_path(@specialization.id) %>
