<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @specialization.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @specialization.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @specialization.category.name %>
</p>

<% @applications.each do |application| %>
  <p><%= application.title %></p>
<% end %>

<%= link_to 'Back', specializations_path %>
