<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @category.description %>
</p>

<p>
  <strong>Specializations:</strong>
</p>

<p>
  <%= link_to "Biology", specialization_path(6) if (@category.id == 1) %>
</p>

<p>
  <%= link_to "Chemistry", specialization_path(5) if (@category.id == 1) %>
</p>

<p>
  <%= link_to "Environmental", specialization_path(1) if (@category.id == 1) %>
</p>

<p>
  <%= link_to "Physics", specialization_path(2) if (@category.id == 1) %>
</p>

<p>
  <%= link_to "Miscellaneous", specialization_path(7) if (@category.id == 1) %>
</p>

<p>
  <%= link_to "Calculus", specialization_path(4) if (@category.id == 2) %>
</p>

<p>
  <%= link_to "Miscellaneous", specialization_path(8) if (@category.id == 2) %>
</p>

<%= link_to 'Back to Categories', categories_path %>
